
<div class="card border-primary mb-3" style="max-width: 60rem; margin-left:5px;">
  <h3 class="card-header">{{currentProducts.Name}}</h3>
  <div class="card-body">

  </div>
  <div><img src="{{currentProducts.ImgUrl}}" /></div>

  <div class="card-body">
    <p class="card-text"><span style="font-weight:bold">Description: </span> {{currentProducts.Name}}</p>
    <p class="card-text"> {{currentProducts.Description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span style="font-weight:bold">Genere: </span>{{currentProducts.Category}} </li>
  </ul>


</div>

